<div class="columns is-vcentered is-multiline">
    {% for cur_alt_text, cur_logo in funding.items() %}
        <div class="column is-one-third">
            <img src="{static}{{ root_folder }}{{ cur_logo }}" alt="{{ cur_alt_text }}" style="max-height: 80px;"/>
        </div>
    {% endfor %}
</div>