<div class="column {{ 'is-hidden-mobile' if hide_image_mobile }}">
    <div class="columns is-flex is-centered">
        {% set column_with_class = 'is-four-fifths' %}
        {% if image_orientation == 'vertical' %}
            {% set column_with_class = 'is-three-fifths is-three-quarters-mobile' %}
        {% endif %}
        <div class="column {{ column_with_class }}">
            <figure class="image">
                <img src="{static}/{{ image_file }}" alt="{{ image_caption }}" />
                <figcaption>{{ image_caption }}</figcaption>
            </figure>
        </div>
    </div>
</div>