{% for row in publications | batch(batch_size) %}
    <div class="tile is-ancestor">

        {% for publication in row %}
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title is-size-4 is-size-5-touch">
                        <a href="{{ publication.doi }}">{{ publication.title }}</a>
                    </p>
                    <div class="content">
                        <p>{{ publication.authors }}</p>
                        <p class="has-text-right"><b>{{ publication.journal_name }}</b>, {{ publication.publication_month }} {{ publication.publication_year }}</p>
                    </div>
                </article>
            </div>
        {% endfor %}

    </div>
{% endfor %}