@charset "utf-8";

@import "bulma/sass/utilities/initial-variables";

$green: #115740;
$navbar-height: 5rem;
$link:  #317760;
html {
  scroll-behavior: smooth;
}

.hero {
  position: relative;
}

.modality-overlay {
  top: auto !important;
  background-color: rgba(0,0,0,0.4);
}

details {
  border-bottom: 1px solid lightgray;
}

// Summary marker styles
details > summary {
    list-style-type: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
details > summary::before {
  border: 3px solid $green;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: ' ';
  display: inline-block;
  height: 0.625em;
  transform: rotate(225deg);
  transform-origin: center;
  width: 0.625em;
  margin-right: 0.25em;
}
details[open] > summary::before {
    transform: rotate(-45deg);
    margin-bottom: 0.2em;
}

details.featured-publication {
  border: none;
}

// Make the long logos shrink with the viewport
.navbar-brand > a.navbar-item {
  max-width: 42%;
}
.navbar-brand {
  flex-grow: 2;
  flex-shrink: 1 !important;
}

// Disable ionicons names
ion-icon {
  pointer-events: none;
}

// Increased members row spacing
.tile.is-ancestor.members-row:not(:last-child) {
  margin-bottom: 3rem;
}

/*
Responsive menu, pure CSS, taken from:
https://siongui.github.io/2020/07/14/css-only-toggle-bulma-responsive-navbar/
*/
@media screen and (max-width: 1023px) {
  /* show mavbar-menu on screen less than 1024px */
  #menu-toggle:checked ~ #navbarBasicExample {
    display: block;
    position: absolute;
    width: 100%;
    text-align: left;
  }

  /* make navbar-burger become cross on screen less than 1024px */
  #menu-toggle:checked + .navbar-brand > label > span:nth-child(1) { transform: translateY(5px) rotate(45deg); }
  #menu-toggle:checked + .navbar-brand > label > span:nth-child(2) { opacity: 0; }
  #menu-toggle:checked + .navbar-brand > label > span:nth-child(3) { transform: translateY(-5px) rotate(-45deg); }
  /* you can also replace + with ~ in above three rules and get the same result */
}

.navbar-burger {
  height: auto;
}

@import "bulma/bulma.sass";
