{% extends "base.html" %}
{% block content %}

    <section class="hero is-success is-medium">
        <div class="hero-body ">
            <div class="container has-text-left">
                <p class="title is-size-1">
                    {{ article.title }}
                </p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content">
                {{ article.content }}
            </div>
        </div>
    </section>

{% endblock %}