<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/ccns.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon.ico">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body class="has-navbar-fixed-top has-spaced-navbar-fixed-top">

<!-- CCNS cotext pages -->
{% set ccns_context_children = pages | selectattr('parent', 'none') %}
<!-- Unit (e.g., Lab, Cluster) context children -->
{% if page and page.unit_page is defined %}
    {% set unit_context_children = page.unit_page.children %}
{% endif %}


<!-- Check if unit logo should be rendered and if there is one. -->
{% set render_logo = False %}
{% if page and page.unit is defined %}
    <!-- We are in a unit context. -->
    {% if page.unit is unit_with_logo %}
        {% set render_logo = True %}
    {% endif %}
{% endif %}

<nav class="navbar is-fixed-top is-spaced" role="navigation" aria-label="main navigation">
    <input type="checkbox" id="menu-toggle" class="is-hidden">
    <div class="navbar-brand">
        <a class="navbar-item pr-0" href="https://www.plus.ac.at/">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_1.png" style="max-height:4rem">
        </a>
        <a class="navbar-item pl-0" href="{{ SITEURL }}/{{ 'index.html' if RELATIVE_URLS else '' }}">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_2.png" style="max-height:4rem">
        </a>
        <!-- Unit logo -->
        {% if render_logo %}
            <a class="navbar-item" href="{{ SITEURL }}/{{ page.unit_page.url }}">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_{{ page.unit }}.png" style="max-height:4rem">
            </a>
        {% endif %}
        <!-- Navigation burger -->
        <label for="menu-toggle" class="navbar-burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </label>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <!-- Unit navigation -->
            {% if unit_context_children %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="{{ SITEURL }}/{{ page.unit_page.url }}">{{ page.unit_page.short_title if page.unit_page.short_title is defined else page.unit_page.title }}</a>
                    <div class="navbar-dropdown is-right">
                        {% for pg in unit_context_children | selectattr("order") | sort(attribute="order") %}
                            {% if pg.children is defined and pg.children | selectattr("order") | list | length > 0 %}
                                <div class="navbar-item">
                                    {{ pg.title}}
                                </div>
                                {% for ch in pg.children | selectattr("order") | sort(attribute="order") %}
                                    <a class="navbar-item ml-4" href="{{ SITEURL + '/' + ch.url if ch.temporary_url is not defined else ch.temporary_url }}">{{ ch.short_title if ch.short_title is defined else ch.title }}</a>
                                {% endfor %}
                            {% else %}
                                <a class="navbar-item" href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title}}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="navbar-item is-hidden-touch">|</div> <!-- shows the pipe symbol and hides it in responsive menu -->
                <hr class="is-hidden-desktop mt-0 mb-2"> <!-- shows the horizontal line in responsive menu only -->
            {% endif %}
            <!-- CCNS navigation -->
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="{{ SITEURL }}/{{ 'index.html' if RELATIVE_URLS else '' }}" class="navbar-link">CCNS</a>
                <div class="navbar-dropdown is-right">
                    {% for pg in ccns_context_children | selectattr("order") | sort(attribute="order") %}
                        {% if pg.children is defined and pg.children | selectattr("order") | list | length > 0 %}
                            <div class="navbar-item">
                                {{ pg.title}}
                            </div>
                            {% for ch in pg.children | selectattr("order") | sort(attribute="order") %}
                                <a class="navbar-item ml-4" href="{{ SITEURL + '/' + ch.url if ch.temporary_url is not defined else ch.temporary_url }}">{{ ch.short_title if ch.short_title is defined else ch.title }}</a>
                            {% endfor %}
                        {% else %}
                            <a class="navbar-item" href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <p>
                    <b>&copy; 2021 CCNS</b>
                </p>
                <p>
                    Content under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a><br/>
                    <a href="https://www.plus.ac.at/impressum/?lang=en">Imprint</a><br/>
                    <a href="https://www.plus.ac.at/datenschutz-en/?lang=en">Privacy</a>
                </p>
            </div>
            <div class="column">
                <p>
                    <b>Contact us</b>
                </p>
                <p>
                    Centre for Cognitive Neuroscience<br/>
                    <a href="mailto:ccns-contact@plus.ac.at">ccns-contact@plus.ac.at</a>
                </p>
            </div>
            <div class="column">
                <p>
                    <b>Website</b>
                </p>
                <p>
                    Design powered by <a href="https://bulma.io">Bulma</a> and <a href="https://ionic.io/ionicons">ionicons</a><br/>
                    Content managed by <a href="https://blog.getpelican.com/">Pelican</a><br/>
                    <a href="https://gitlab.com/ccns/ccns.gitlab.io">Code</a> and <a href="https://gitlab.com/ccns/ccns.gitlab.io/-/issues">Issues</a> managed by <a href="https://gitlab.com">GitLab</a>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
