{% extends "base.html" %}
{% from 'md_macros/news.html' import news with context %}
{% block content %}
   


    <!-- Movie -->
    <section class="hero is-fullheight-with-navbar is-success video">
      <div class="hero-video">
        <video playsinline autoplay muted loop>
          <source src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/videos/Highlights_CCNS_for_HP_4zu3.mp4" type="video/mp4">
        </video>
      </div>
      <div class="hero-body">
        <div class="container has-text-white has-text-weight-bold has-text-left">
          <h1 class="title is-size-1">
            Centre for Cognitive Neuroscience
          </h1>
          <h2 class="subtitle">
            University of Salzburg
          </h2>
          <div class="has-text-centered">
            <span class="icon">
              <a href="#about-centre">
                <ion-icon name="arrow-down-circle-outline" class="is-size-1"></ion-icon>
              </a>
            </span>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Centre description -->
    <section class="section" id="about-centre">
      <div class="container">
        {% set centre_article = articles | selectattr('section', 'eq', 'centre') | first %}
        <h1 class="title is-size-1">{{ centre_article.title }}</h1>
        <p>{{ centre_article.content }}</p>
      </div>
    </section>

    <!-- News -->
    <section class="section">
      <div class="container">
        <h1 class="title is-size-1">News</h1>

        {{ news(tags=['ccns'], include_images=False, max_articles=3) }}
      </div>
    </section>
    
    <!-- Clusters -->
    <section class="section">
      <div class="container">
        <h1 class="title is-size-1">Research clusters</h1>

          {% for row in pages | filter_articles(category='clusters') | sort(attribute='title') | batch(3) %}
         
            <div class="tile is-ancestor">
              
              {% for article in row %}
                <div class="tile is-parent is-4 mx-auto">
                  <div class="card tile is-child">
                    <div class="card-image">
                      <figure class="image">
                        <a href="{{ article.url }}">
                          <img src="{{ SITEURL }}/{{ article.image }}" alt="{{ article.title }}">
                        </a>
                      </figure>
                      <div class="is-overlay p-3 modality-overlay">
                        <a href="{{ article.url }}"><p class="has-text-white is-size-5-touch title">{{ article.title }}</p></a>
                      </div>
                    </div>
                    
                    <div class="card-content">
                      <div class="content">
                        {{ article.summary }}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              
            </div>
          {% endfor %}
          
      </div>
    </section>

    <!-- Methods/Modalities/Enabling neuroscience -->
    <section class="section has-background-white-bis">
      <div class="container">
        {% set modalities_article = articles | selectattr('section', 'eq', 'modalities') | first %}
        <h1 class="title is-size-1">{{ modalities_article.title }}</h1>
        <div class="content mb-3">
          <p>{{ modalities_article.content }}</p>
        </div>
        
        {% for row in articles | filter_articles(category='modalities') | sort(attribute='title') | batch(3) %}
          <div class="tile is-ancestor">
            
            {% for article in row %}
              <div class="tile is-parent is-4 mx-auto">
                <div class="card tile is-child">
                  <div class="card-image">
                    <figure class="image">
                      <img src="{{ SITEURL }}/{{ article.image }}" alt="{{ article.title }}">
                    </figure>
                    <div class="is-overlay p-3 modality-overlay">
                      <p class="has-text-white is-size-5-touch title">{{ article.title }}</p>
                    </div>
                  </div>
                  
                  <div class="card-content">
                    <div class="content">
                      {{ article.content }}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            
          </div>
        {% endfor %}
      </div>
    </section>
    
    <!-- Recent publications -->
    <section class="section" id="recent-publications">
      <div class="container">
        <h1 class="title is-size-1">Recent publications</h1>
        {% publication_cards names=['ccns'], max_articles=9 %}
        <div class="title is-size-4 is-size-5-touch has-text-right"><a href="https://uni-salzburg.elsevierpure.com/en/organisations/centre-for-cognitive-neuroscience/publications/">view all publications</a></div>
        
      </div>
    </section>
    
    <!-- Experience the full potential -->
    <section class="section">
      <div class="container">

        {% set centre_article = articles | selectattr('section', 'eq', 'potential') | first %}
        <h1 class="title is-size-1">{{ centre_article.title }}</h1>
        <p>{{ centre_article.content }}</p>
        
        <div class="level mt-6">
          <div class="level-item">
            <a class="button is-large is-success" href="https://uni-salzburg.elsevierpure.com/en/organisations/centre-for-cognitive-neuroscience/publications/">
              Publications
            </a>
          </div>
          <div class="level-item">
            <a class="button is-large is-success" href="https://uni-salzburg.elsevierpure.com/en/organisations/centre-for-cognitive-neuroscience/projects/">
              Projects
            </a>
          </div>
          <div class="level-item">
            <a class="button is-large is-success" href="https://uni-salzburg.elsevierpure.com/en/organisations/centre-for-cognitive-neuroscience/clippings/">
              Media
            </a>
          </div>
        </div>
        
      </div>
    </section>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
{% endblock %}
