{% for row in members | batch(3) %}
  <div class="tile is-ancestor members-row">
    {% for person in row %}

      <!-- Resolve correct person URL -->
      <!-- External people who are not members of CCNS should link to their `home_url`. -->
      {% if 'ccns' in person.tags %}
        {% set person_url = SITEURL + '/' + person.url %}
      {% else %}
        {% if person.home_url is defined %}
          {% set person_url = person.home_url %}
        {% endif %}
      {% endif %}

      <div class="tile is-parent">
        <div class="tile is-child has-text-centered">
          <figure class="image is-128x128 mx-auto" title="{{ person.name }} {{person.surname}}">
            {% if person_url is defined %}
              <a href="{{ person_url }}">
                <img class="is-rounded" src="{{ SITEURL }}/images/members/{{ person.photo if person.photo is defined else 'person.png' }}" alt="{{ person.title }}">
              </a>
            {% else %}
              <img class="is-rounded" src="{{ SITEURL }}/images/members/{{ person.photo if person.photo is defined else 'person.png' }}" alt="{{ person.title }}">
            {% endif %}
          </figure>
          <p class="title is-size-5">
            {% if person_url is defined %}
              <a href="{{ person_url }}">{{ person.name }} {{person.surname}}</a>
            {% else %}
              {{ person.name }} {{person.surname}}
            {% endif %}
          </p>
          {% if person.position is defined %}
            <p class="is-size-6">{{ person.position }}</p>
          {% endif %}
          {% if person.affiliations is defined %}
            {% for a in person.affiliations %}
              <p class="is-size-7 my-1">{{ a }}</p>
            {% endfor %}
          {% endif %}
          <p class="mt-5">
            {% if person.email is defined %}
              <span class="icon">
                <a href="mailto:{{ person.email }}"><ion-icon name="at" class="is-size-4"></ion-icon></a>
              </span>
            {% endif %}
            {% if person.phone is defined %}
              <span class="icon">
                <a href="tel:{{ person.phone }}"><ion-icon name="call-outline" class="is-size-4"></ion-icon></a>
              </span>
            {% endif %}
          </p>
        </div>
      </div>
    
    {% endfor %}
  </div>
{% endfor %}
