{% extends "base.html" %}
{% block content %}

    <section class="hero is-success is-medium">
      <div class="hero-body ">
        <div class="container has-text-left">
          <p class="title is-size-1">
            {{ page.title }}
          </p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="content">
          {{ page.content }}
        </div>
      </div>
    </section>

{% endblock %}
