{% extends "base.html" %}

{% from 'md_macros/publications.html' import publication_list with context %}

{% block content %}
  
  <section class="section">
    <div class="container">
      <div class="columns is-mobile is-variable is-6-tablet">
        {% if page.photo is defined %}
          <div class="column is-one-quarter-tablet is-half-mobile">
            <figure class="image is-square">
              <img src="{{ SITEURL }}/images/members/{{ page.photo }}" alt="{{ page.title }}">
            </figure>
          </div>
        {% endif %}
        <div class="column content">
          <h1>{{ page.name }} {{ page.surname }}</h1>
          {% if page.position is defined %}
            <p class="is-size-5">{{ page.position }}</p>
          {% endif %}
          {% if page.affiliations is defined %}
            {% for a in page.affiliations %}
              <p class="is-size-6 my-1">{{ a }}</p>
            {% endfor %}
          {% endif %}
          <p class="mt-5">
            {% if page.email is defined %}
            <span class="icon" title="Email">
              <a href="mailto:{{ page.email }}"><ion-icon name="at" class="is-size-4"></ion-icon></a>
            </span>
            {% endif %}
            {% if page.phone is defined %}
            <span class="icon" title="Call">
              <a href="tel:{{ page.phone }}"><ion-icon name="call-outline" class="is-size-4"></ion-icon></a>
            </span>
            {% endif %}
            {% if page.home_url is defined %}
            <span class="icon" title="Home institution's web page">
              <a href="{{ page.home_url }}"><ion-icon name="globe-outline" class="is-size-4"></ion-icon></a>
            </span>
            {% endif %}
          </p>
          {% if page.cv is defined %}
            <p class="mt-5">
              <a href="{{ static }}/assets/cv/{{ page.cv }}">Download CV</a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section class="section pt-0">
    <div class="container content">
      
      {{ page.content }}

      {{ publication_list((page.path_no_ext.split('/') | last), (page.name + ' ' + page.surname), max_years=4) }}
    </div>
  </section>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

{% endblock %}
