{% macro say_hello(text, class='') %}
<p class="{{ class }}">Macro says: {{ text }}</p>
{% endmacro %}

{% macro notification(title) %}
<article class="message">
    <div class="message-header">
        <p>{{ title }}</p>
        <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
        {{ caller() }}
    </div>
</article>
{% endmacro %}