{% macro news(tags, include_images=True, category='news', batch_size=3, max_articles=None) %}

    {% set all_news = articles | filter_articles(category=category, tags=tags) %}
    {% if max_articles %}
        {% set all_news = all_news[:max_articles] %}
    {% endif %}

    {% for row in all_news | batch(batch_size) %}
        <div class="tile is-ancestor">

            {% for article in row %}
                <div class="tile is-parent is-4 mx-auto">
                    <article class="tile is-child card">
                        {% if include_images %}
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ SITEURL }}/{{ article.image }}" alt="{{ article.title }}">
                                </figure>
                            </div>
                        {%  endif %}
                        <div class="card-content">
                            <p class="title">
                                <a href="{{ article.external_url if article.external_url is defined else SITEURL + '/' + article.url }}">{{ article.title }}</a>
                            </p>
                            <div class="content">
                                <p>{{ article.summary }}</p>
                                <p class="has-text-right">{{article.date.date() }}</p>
                            </div>
                        </div>
                    </article>
                </div>
            {% endfor %}

        </div>
    {% endfor %}

{% endmacro %}