{% macro projects(tags=['ccns'], batch_size=3) %}
    {% for row in articles | filter_articles(category='projects', tags=tags) | batch(batch_size) %}
        <div class="tile is-ancestor">

            {% for article in row %}
                <div class="tile is-parent is-4 mx-auto">
                    <div class="card tile is-child">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{ SITEURL }}/{{ article.image }}" alt="{{ article.title }}">
                            </figure>
                            {% if article.title %}
                                <div class="is-overlay p-3 modality-overlay">
                                    <p class="has-text-white is-size-5-touch title">{{ article.title }}</p>
                                </div>
                            {% endif %}
                        </div>

                        <div class="card-content">
                            <div class="content">
                                {{ article.content }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    {% endfor %}
{% endmacro %}