{% macro publication_list(name, real_name='', title='Publications', max_publications=None, max_years=None) %}
    {% if name in research_outputs and research_outputs[name] %}
        {% if title %}
            <h2>{{ title }}</h2>
        {% endif %}
        {% set this_output = research_outputs[name] | sort(attribute="publication_year", reverse=True) %}
        {% if max_publications %}
            {% set this_output = this_output[:max_publications] %}
        {% endif %}
        {% set this_output = this_output | groupby("publication_year") | reverse | list %}
        {% if max_years %}
            {% set this_output = this_output[:max_years] %}
        {% endif %}
        {% for year, publications in this_output %}
            <h3>{{ year }}</h3>
            {% for p in publications %}
                {% publication_paragraph p, [real_name] %}
            {% endfor %}
        {% endfor %}
    {% endif%}
{% endmacro %}